* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 850px;

}

.caja2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 850px;
}

.boton {
    padding: 25px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.boton1 {
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.boton2 {
    padding: 15px;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.rueda {
    width: 100%;
}

.carrusel {
    height: 100%;
    width: 100%;
}

.caja3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.letra {
    max-width: 100px;
    min-width: 10px;
}

.texto {
    text-align: center;
    color: white;
}

.caja4 {
    height: 150px;
}

.caja5 {
    width: 100%;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;  
}

.caja6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.caja7 {
    padding:50px;
}

.barras {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.caja8{
    padding: 20px;
}

.galeria {
    width: 100%;
}

.galeria1 {
    width: 80%;
}

.caja9 {
    padding-top: 10px;
}

.caja10 {
    padding-top: 20px;
}
.galeria2 {
    width: 90%;
}

.caja11 {
    padding: 20px;
}