*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boton{
    width: 300px;
    padding: 30px;
}

.contenedor{
    margin: 1px white;
}


#Lente{
    animation-delay: .5s;
}

#JP{
    animation-delay: 1s;
}

#PM{
    animation-delay: 1.5s;
}